<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDglsTTnfBkOGZWNOHLUga48NwmIwR2-MM</string>
	<key>GCM_SENDER_ID</key>
	<string>709870075014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.e3App</string>
	<key>PROJECT_ID</key>
	<string>e3-app-5c7da</string>
	<key>STORAGE_BUCKET</key>
	<string>e3-app-5c7da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709870075014:ios:87f240235b66e2d939a507</string>
</dict>
</plist>